 <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    
    
</head>
<body>
  <header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted">asdfadf</p>
          </div>
          
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
          <strong>Album</strong>
        </a>
        <p>
        <a href="/books" class="btn btn-secondary my-2">Book Home Page</a>
        <a href="/users/<%=@user.id%>/edit" class="btn btn-secondary my-2">Edit</a>
        <%= link_to "Log out", "/users", method: "delete", class: "btn btn-secondary my-2" %>
        
      
      
    </div>
</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading" style=" color:DodgerBlue; font-size: 46px; font-family: bold;font-style: italic;"> Welcome    <%=@user.user_name%></h1>
    </div>
    
    
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

    <%if @user.books.length > 0%>

      <div class="row">
      <% @user.books.each do |book| %>  
           
        <div class="col-md-4 container jumbotron">
          <div class="card mb-3 shadow-sm ">
            <a href = <%="/books/#{book.id}"%>>
            <img class="bd-placeholder-img card-img-top" width="200" height="225" src=<%="#{book.img_url}"%> >
            </a>

            <div class="card-body">
              <p style="  font-size: 20px; font-family: bold;font-style: italic;"class="card-text">Title: <%= book.title %></p>
              <p style="  font-size: 20px; font-family: bold;font-style: italic;" class="card-text">Category: <%= book.genre %></p>
              <p style="  font-size: 20px; font-family: bold;font-style: italic;"class="card-text">Author: <%= book.author%></p>  
            </div>
          </div>
        </div>
        <% end %>
      <%else%>
      <div class='container text-center'>
        <h1><%= 'You dont have any books yet!'  %></h1>
      </div>
      <%end%>
      </div>
    </div>
  </div>
</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p> copyright J and F enterprises </p>
  </div>
</footer>