 <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    
    
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a href="/books" class="nav-link">Book Home Page</a>
          </li>
          <li class="nav-item active">
            <%= link_to "Log out", "/users", method: "delete", class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <a href="/users/<%=@user.id%>/edit" class="nav-link">Edit</a>
            <!-- <a class="nav-link disabled" href="#">Disabled</a> -->
          </li>
        </ul>
        
      </div>
    </nav>
</header>


        <a href="/users/<%=@user.id%>/edit" class="btn btn-secondary my-2">Edit</a>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading" style=" color:DodgerBlue; font-size: 46px; font-family: bold;font-style: italic;"> Welcome    <%=@user.user_name%></h1>
    </div>
    
    
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

    <%if @user.books.length > 0%>

      <div class="row">
      <% @user.books.each do |book| %>  
           
        <div class="col-md-4 container jumbotron">
          <div class="card mb-3 shadow-sm ">
            <a href = <%="/books/#{book.id}"%>>
            <img class="bd-placeholder-img card-img-top" width="200" height="225" src=<%="#{book.img_url}"%> >
            </a>

            <div class="card-body">
              <p style="  font-size: 20px; font-family: bold;font-style: italic;"class="card-text">Title: <%= book.title %></p>
              <p style="  font-size: 20px; font-family: bold;font-style: italic;" class="card-text">Category: <%= book.genre %></p>
              <p style="  font-size: 20px; font-family: bold;font-style: italic;"class="card-text">Author: <%= book.author%></p>  
            </div>
          </div>
        </div>
        <% end %>
      <%else%>
      <div class='container text-center'>
        <h1><%= 'You dont have any books yet!'  %></h1>
      </div>
      <%end%>
      </div>
    </div>
  </div>
</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p> copyright J and F enterprises </p>
  </div>
</footer>