<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .btn btn-primary btn-sm{
        font-size: 100px;
      }
    </style>
    <!-- Custom styles for this template -->
    
  </head>
  <body>
    <header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
  <p>
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">

      
        <a href="/users/<%=@user.id%>" class="btn btn-primary btn-sm" >Your Home Page</a>
        <%= link_to "Log out", "/users", method: "delete", class: "btn btn-primary btn-sm" %>
      </p>
    </div>
  </div>
</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container-fluid">
        <h1 style=" color:DodgerBlue; font-size: 50px; font-family: bold;font-style: italic;">Welcome to The BookHub</h1>
    </div>
    <div class = 'text-left'>
        <select name="book[book_list]" form="search">
          <option name="book[author]" value="author">Author</option>
          <option name= "book[title]" value="title">Title</option>
        </select>
        
        <form class="form-inline mt-2 mt-md-0" id='search' action="/books" accept-charset="UTF-8" data-remote="true" method="post">
        <input name="utf8" type="hidden" value="✓">
        <input type="hidden" name="authenticity_token" value="1kXru2KnjDv03DklG9bdCmbqYh6l+IJSDQgIGZrfEP7n0wziyV3nv2zs+IFgm6m7fkjMyMpHUtaQi1Nm1M2ICA==" class="form-signin container">
          <br>
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"  name='book[search]'>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
      <% @books.each do |book| %>  
           
        <div class="col-md-4 container jumbotron">
          <div class="card mb-3 shadow-sm ">
            <a href = <%="/books/#{book.id}"%>>
            <img class="bd-placeholder-img card-img-top" width="200" height="225" src=<%="#{book.img_url}"%> >
            </a>

            <div class="card-body">
              <p style="  font-size: 20px; font-family: bold;font-style: italic;" class="card-text">Title: <%= book.title %></p>
              <p style="  font-size: 20px; font-family: bold;font-style: italic;"class="card-text">Category: <%= book.genre %></p>
              <p style="  font-size: 20px; font-family: bold;font-style: italic;"class="card-text">Author: <%= book.author%></p>
              <div class="d-flex justify-content-between align-items-center">
                <div >
                  <%= button_to "Purchase", purchases_path(book_id: book.id, :method => :post), class:"btn btn-primary btn-sm"%> <!--Button Helper post to purchases/create passes book.id in params>-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
<%=%>
</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p>New to Bootstrap? <a href="https://getbootstrap.com/">Visit the homepage</a> or read our <a href="/docs/4.3/getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer>
