<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    
  </head>
  <body>
    <header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">asdfadf</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
        <strong>Album</strong>
      </a>
    </div>
  </div>
</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container-fluid">
      
      <h1>Welcome to The  Search BookHub!!!!!</h1>
      
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
       <%@search['items'].each do |book|%> 


        
      
      
        <%self_link = RestClient.get(book['selfLink'])%>
        <%item_info = JSON.parse(self_link)%>
        <%img_url = item_info['volumeInfo']['imageLinks']['small'] %>
      
    
           
        <div class="col-md-4 container jumbotron">
          <div class="card mb-3 shadow-sm ">
            
            <img class="bd-placeholder-img card-img-top" width="200" height="225" src=<%=img_url%> >
            </a>

            <div class="card-body">
              <p class="card-text">Title: <%= book['volumeInfo']['title']%></p>
              <p class="card-text">Category: <%= book['volumeInfo']['categories'][0]%> </p>
              <p class="card-text">Author: <%= book['volumeInfo']['authors'][0]%></p>
              <div class="d-flex justify-content-between align-items-center">
                <div >
                  <%= button_to "Purchase", {:controller => "books", :action => "create", :book => {:title => book['volumeInfo']['title'], :author => book['volumeInfo']['authors'][0], :genre => book['volumeInfo']['categories'][0], :img_url => img_url, :page_count => book['volumeInfo']['pageCount'], :summary => book['volumeInfo']['description']}}, :method=> :post, class:"btn btn-primary btn-sm"%> 
                 
                 
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p>New to Bootstrap? <a href="https://getbootstrap.com/">Visit the homepage</a> or read our <a href="/docs/4.3/getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer>





    